.sidebar-labels .labels .label.cycle-label {
    margin-top: 3px;
    width: 85%;
}

.sidebar-labels .labels .label.imitation-label {
    width: 100%;
    color: gray;
    background-color: white;
    border: dashed 1px;
}

.sidebar-labels .cycle-button {
    position: absolute;
    margin-top: 3px;
    right: 0;
    &:after {
        content: "→";
    }
}