.sidebar-labels .labels .label.cycle-label {
    margin-top: 3px; // TODO sibling selector
    width: 85%;
}

.sidebar-labels .labels .label.imitation-label {
    width: 100%;
    color: gray;
    background-color: white;
    border: dashed 1px;
}

.sidebar-labels {
    .label + .cycle-button {
        margin-top: 3px;
    }
    .cycle-button {
        position: absolute;
        right: 0;
        &:after {
            content: "→";
        }
    }
}
